.author-avatar{
  background-size: contain;
  border-radius: 50px 0 0 0 ;
  width: 100px;
  height: 100px;
  //background-image: url("https://thumbs.dreamstime.com/b/woman-avatar-vector-portrait-dark-hair-violet-blouse-54324423.jpg");
}
