<nav class="navbar">
    <div class="navbar-links">
        <!--<span><a ui-sref="about">about</a></span>-->
        <!--<a ui-sref="posts">Posts</a>-->
        <a ui-sref="posts-view">World</a>
        <a ui-sref="posts-view">Friends</a>
        <img src="{{vm.loggedUser.avatar}}" class="user-log">
        <a ui-sref="home">My</a>
        <a ui-sref="home">Watched</a>


    </div>
</nav>

