.navbar-links{
  a {
    color: whitesmoke;
    text-decoration-line: none;
    width: 150px;
    padding: 20px;
    text-align: center;
  }
  a:hover{
    text-decoration-line: underline;
  }

}

.user-log{
  display: inline-flex;
  margin: 0 auto;
  width: 80px;
  border-radius: 50px  ;
  text-align: center;
}
