@import "common/common";
@import url('https://fonts.googleapis.com/css?family=Lato');

.app {

  //background-color: $myColor;
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
  font-weight: lighter;
  background-image: url("https://www.xmple.com/wallpaper/black-purple-gradient-linear-1920x1080-c2-000000-800080-a-270-f-14.svg");
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.main-view{
  background-image: url("https://www.xmple.com/wallpaper/black-purple-gradient-linear-1920x1080-c2-000000-800080-a-270-f-14.svg");
  background-attachment: fixed;
}

.navbar{
  background-image: url("https://www.xmple.com/wallpaper/black-purple-gradient-linear-1920x1080-c2-000000-800080-a-270-f-14.svg");
  background-position: top;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left:0;
  right:0;
  top:0;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 99;
}


.footer{
  height: 150px;
  z-index: 99;
  background-position: bottom;
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  padding-bottom: 2px;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgb(0, 0, 1))
  //transition: background 300ms ease-in 2s;
  //transition-property: background;
  //transition-duration: 300ms;
  //transition-timing-function: ease-in;
  //transition-delay: 100ms;



}
