.form{
  //border-bottom: 1px solid white;
  //display: flex;
  //justify-content: center;
}

.text-input{
  height: 20px;
  width: 350px;
  color: #620671;
  margin: 5px 5px 5px 10px;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  padding: 5px;
  letter-spacing: 1px;
  display: inline-flex;
  max-height: 50%;
}



.submit-btn{
  height: 30px;
  width: 60px;
  color: #620671;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  display: inline-flex;

}



.current-user-avatar{
  display: inline-flex;
  width: 50px;
  border-radius: 0 0 20px 0 ;
}
