<div class="form">
    <form name="vm.commentInputForm" ng-submit="vm.addComment()">
        <img class="current-user-avatar" src="{{vm.author.avatar}}">
        <input type="text" name="inp" ng-model="vm.commentInputFormData.text" ng-required="true" class="text-input" placeholder="Add comment here...">
        <!--<ng-messages when="vm.commentInputFormData.text.$error">-->
            <!--<ng-message when="required">You did not enter a field</ng-message>-->
        <!--</ng-messages>-->
        <input type="submit" class="submit-btn" value="SEND">
    </form>
</div>

