<div class="comment">
    <div class="comment-autor">
        <div class="avatar"><comment-author-avatar comment-avatar="vm.commentDetails.author.avatar"></comment-author-avatar></div>
        <div class="name"> <comment-author-name comment-name="vm.commentDetails.author.name"></comment-author-name></div>
        <div class="comment-date"><post-date post-date="vm.commentDetails.createDate"></post-date></div>
    </div>
    <div class="comment-text text"> <comment-author-text comment-text="vm.commentDetails.text"></comment-author-text></div>
</div>




<!--<posts>-->
    <!--<post>-->
        <!--<post-author-avatar></post-author-avatar>-->
        <!--<post-author-name></post-author-name>-->
        <!--<post-menu-toggle></post-menu-toggle>-->
        <!--<post-content-text></post-content-text>-->
        <!--<post-content-image></post-content-image>-->
        <!--<post-btn-like></post-btn-like>-->
        <!--<post-btn-comment></post-btn-comment>-->
        <!--<post-btn-share></post-btn-share>-->

        <!---->
        <!---->
        <!--<post-comments>-->
            <!---->
            <!--<comment-form></comment-form>-->
        <!---->
            <!--<comment></comment>-->
        <!---->
            <!--<comments>-->
                <!--<comment>-->
                    <!--<comment-author-avatar></comment-author-avatar>-->
                    <!--<comment-author-text></comment-author-text>-->
                    <!--<comment-author-name></comment-author-name>-->
                <!--</comment>-->
                <!---->
            <!--</comments>-->
        <!--</post-comments>-->
       <!---->
    <!--</post>-->
<!--</posts>-->

