.comment{
  border-top: 1px solid white;
  width: 100%;
}

.comment-autor{
  //background: #e4e4e4;
  background: white;
  height: 40px;
  width: 100%;
}

.avatar {
  display: inline-flex;
  height: 20px;
  width: 50px;
  float: left;
  padding-bottom: 5px;
}


.name{
  text-align: left;
  color: #8601d3;
  font-size: 14px;
  font-weight: bold;
  padding-top: 2px;
}

.comment-date{
  color: rgba(160, 35, 255, 0.71);
  text-align: left!important;
  width: 100px;
  display: flex;
  font-size: 8px;
}

.comment-text{
  display: flex;
  text-align: left;
  color: #620671;
  padding: 2px;

  //margin-bottom: 5px;
}
