<div class="post-container">

    <div class="user-info">
        <post-author-avatar post-avatar="vm.postLocal.author.avatar" class="avatar"></post-author-avatar>

        <div class="name-date">
            <post-author-name post-name="vm.postLocal.author.name" class="name-form"></post-author-name>
            <post-date post-date="vm.postLocal.createDate" class="name name-date-form"></post-date>
        </div>

        <post-menu-toggle class="toggle"></post-menu-toggle>
    </div>

    <div class="post-content">
        <div class="text-container text">
            <post-content-text post-text="vm.postLocal.text"></post-content-text>
        </div>
        <div class="img-container">
            <post-content-image post-image="vm.postLocal.image" class="img-post"></post-content-image>
        </div>
    </div>

    <div class="action-bar">
        <div class="action-length" ng-class="{'my-class': vm.clicks}"> <post-btn-like ng-click="vm.likeClick()" class="like-btn"></post-btn-like>{{vm.postLocal.likes}}
        </div>
        <div class="action-length" ng-class="{'my-class': vm.postLocal.comments.length >= 1}"><post-btn-comment class="comment-btn"></post-btn-comment>{{vm.postLocal.comments.length}}
        </div>
        <div class="action-length" ng-class="{'my-class': vm.postLocal.share >= 1}"><post-btn-share class="share-btn"></post-btn-share>{{vm.postLocal.shares}}
        </div>
    </div>
</div>

<div class="comments-container">
    <post-comments next-comment-data-pass="vm.getNewComment(dataNew)" comments="vm.postLocal.comments"></post-comments>
</div>


