.post-container{
  background: whitesmoke;
  margin: 0 auto;
  opacity: 0.8;
  border-radius: 50px 50px 0 0;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  margin-top: 150px;
  box-shadow: 2px 10px 25px #000000;
}


.user-info{
  height: 100px;
  background: whitesmoke;
  display: flex;
  float: left;
  opacity: 1;
  border-radius: 50px;
  //border-bottom: 1px solid violet;

  .avatar{
    width: 100px;
    height: 100px;
    display: inline-flex;
    float: left;
  }

  .name-date{
    text-align: left;
  }


  .name-form{
    padding: 25px 15px 0 10px;

  }

  .name-date-form{
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 5px 5px 5px;
    font-size: 8px;
    letter-spacing: 1px;
    color: #620671;

    .date{
    }
  }

  .toggle{
    padding: 25px;
    display: block;
  }
}


.post-content{
  display: flex;
  clear: both;
  width: 500px;
  height: 350px;
  //background: #620671;
  background-image: url("https://www.xmple.com/wallpaper/black-purple-gradient-linear-1920x1080-c2-000000-800080-a-270-f-14.svg");
  justify-content: stretch;
  flex-direction: column;

  .text{
    display: flex;
    font-size: 13px;
  }

}



.text-container{

}




.img-container{
  padding: 20px;
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.post-image{
  max-width: 50%;
  margin: 0 auto;
}

.action-bar{
  width: 100%;
  background: whitesmoke;
  display: flex;
  float: left;
  opacity: 1;
  border-radius: 50px;
  height: 50px;

  .like-btn, .share-btn, .comment-btn{
    display: inline-flex;
    margin: 0 auto;
    padding: 10px;

  }
}


.comments-container{
  background: whitesmoke;
  margin: 0 auto;
  margin-bottom: 150px;
  opacity: 0.8;
  border-radius: 0 0 50px 50px;
  border-top: #620671 2px solid;
  //padding: 10px 5px 10px 5px;
  width: 500px;
  min-height: 150px;
  display: flex;
  box-shadow: 2px 10px 25px #000000;
}


.action-length{
  color: black;
}


.my-class{
  background-color: #9802ff;
}
