<div class="comment-view" >
    <div class="comment-input">
        <comment-form add-comment-form="vm.addNewComment(danee)"></comment-form>
    </div>
    <div ng-if="vm.showLastComment" class="last-comment">
        <comment comment-details="vm.commentsData[vm.commentsData.length - 1]"></comment>
        <button ng-if="vm.commentsData.length > 1" class="comment-list_button" ng-click="vm.onShowCommentsList()">
            Show more comments
        </button>
    </div>
    <div class="comments" ng-if="vm.showComments">
        <div class="comment-list">
            <div class="comment-list_header">Comments</div>
            <comment-list comments-list="vm.commentsData"></comment-list>
            <button class="comment-list_button" ng-click="vm.onHideCommentList()">
                Hide comments
            </button>
        </div>

    </div>
</div>


