.comment-list_button{
  color: #620671;
  border: none;
  text-decoration: underline;
  background: transparent;
  font-size: 12px;
  border-top: 1px solid white;
  width: 90%;
  padding-bottom: 10px;
  padding-top: 10px;


  //margin: 0 auto;
}

.comment-list_header{
  //color: #620671;
  font-size: 15px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid white;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
  background: #620671;
  color: whitesmoke;
}

.comment-view{
  width: 100%;

}
